{% extends 'homepage.html'%}
{%load static %}
{%block content%}
                <!--Header Area Start-->
                {% include 'header.html'%}

                <!--End of Header Area-->
                <!--Breadcrumb Banner Area Start-->
                <div class="breadcrumb-banner-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="breadcrumb-text">
                                    <h1 class="text-center">{{news.name}}</h1>
                                    <div class="breadcrumb-bar">
                                        <ul class="breadcrumb text-center">
                                            <li><a href="{% url 'index'%}">Домой</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Breadcrumb Banner Area-->
                <!--Blog Area Start--> 
                <div class="blog-area pt-100 pb-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9 blog-post-item">
                                <div class="blog-wrapper blog-details">
                                    <div class="blog-img img-full">
                                        <img src="{{news.image.url}}" alt="">
                                    </div>
                                    <div class="blog-content">
                                        <h3>{{news.name}}</h3>
                                        <p>{{news.description}}</p>
                                       
                                    </div>
                                </div>
                                
                                <div class="comment-list mt-60">
                                    <h4 class="small-title">Коментарии</h4>
                                    {% for comment in news.post_comment.all%}

                                        <div class="blog-author-img">
                                            <img src="{% static 'img/teacher/teacher.webp' %}" style="width:50px;"alt="">
                                        </div>
                                        <div class="comment-content">
                                            <div class="comment-content-top">
                                                <h6>{{comment.name}}</h6>
                                                <span>{{comment.created}}</span>
                                            </div>
                                            <div class="comment-content-bottom">
                                                <p>{{comment.message}}</p>
                                            </div>
                                        </div>
                                    {% endfor%}
                                </div>
                                
                                <div class="comment-box mt-60">
                                    <h4 class="small-title">Оставить Комментарий</h4>
                                    <form method="POST">
										{%csrf_token%}

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="single-input">
													<input type="hidden" name = "comment">

                                                    <input name="name" placeholder="Имя"  type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-input">
                                                    <input name="email" placeholder="Почта"  type="email">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="single-input">
                                                    <textarea name="message" placeholder="Сообщение"  cols="30" rows="5"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="single-input">
                                                    <button class="sent-btn" type="submit">Отправить</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-3 col-12">
                                <div class="sidebar-widget">
                                  
                                    <div class="single-sidebar-widget">
                                        <h4 class="title">НЕДАВНИЕ   НОВОСТИ</h4>
                                        <div class="recent-content">
                                        {% for news in random_new%}

                                            <div class="recent-content-item">
                                                <a href="{% url 'news_detail' news.id%}"><img src="{{news.image.url}}" width = "100px" alt=""></a>
                                                <div class="recent-text">
                                                    <h4><a href="{% url 'news_detail' news.id%}">{{news.name}}</a></h4>
                                                    <div class="single-item-comment-view">
                                                    </div>
                                                </div>
                                            </div>
                                        {%endfor%}
                                        </div>
                                    </div>
                                    
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Blog Area End--> 
                {% include 'footer.html'%}

{%endblock%}