{% extends 'homepage.html'%}
{%load static %}
{%block content%}
                <!--Header Area Start-->
                {% include 'header.html'%}

                <!--End of Header Area-->
                <!--Breadcrumb Banner Area Start-->
                <div class="breadcrumb-banner-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="breadcrumb-text">
                                    <h1 class="text-center">Наши  Курсы</h1>
                                    <div class="breadcrumb-bar">
                                        <ul class="breadcrumb text-center">
                                            <li><a href="{% url 'index'%}">Домой</a></li>
                                            <li>Курсы</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Breadcrumb Banner Area-->
                <!--Search Category Start-->
                
                <!--Search Category End-->
                <!--Course Area Start-->
                <div class="course-area bg-white section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper">
                                    <div class="section-title">
                                        <h3>Наши Курсы</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {%for course in course%}
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="single-item mb-50">
                                    <div class="single-item-image overlay-effect">
                                        <a href="{% url 'course_detail' course.id%}"><img src="{{course.image.url}}" alt=""></a>
                                        
                                    </div>
                                    <div class="single-item-text">
                                        <h4><a href="{% url 'news_detail' course.id%}">{{course.name}}</a></h4>
                                        <p>{{course.description}}</p>
                                       
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pagination-content number">
                                    <ul class="pagination">
                                        <li><a href="#"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li class="current"><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Course Area-->
                {% include 'footer.html'%}

{%endblock%}