{% extends 'homepage.html'%}
{%load static %}
{%block content%}
                <!--Header Area Start-->
                {% include 'header.html'%}

                <!--End of Header Area-->
                <!--Breadcrumb Banner Area Start-->
                <div class="breadcrumb-banner-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="breadcrumb-text">
                                    <h1 class="text-center">{{course.name}}</h1>
                                    <div class="breadcrumb-bar">
                                        <ul class="breadcrumb text-center">
                                            <li><a href="{% url 'index'%}">Домой</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Breadcrumb Banner Area-->
                <!--Course Area Start-->
                <div class="course-details-area section-padding">
                    <div class="container">
                        <div class="row">
                           <div class="col-lg-9 col--12">
                                <div class="course-details-right-sidebar">
                                    <div class="events-details-img1 img-full">
                                        <h3>{{course.name}}</h3>
                                        <img alt="" style="max-width:400px;" src="{{course.image.url}}">
                                    </div>

                                    <div class="about-lectures">
                                        <h3></h3>
                                    </div>
                                            <li>{{course.description}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <!--Course Area End-->
                {% include 'footer.html'%}

{%endblock%}