{% extends 'homepage.html'%}
{%load static %}
{%block content%}
                <!--Header Area Start-->
                {% include 'header.html'%}

                <!--End of Header Area-->
                <!--Breadcrumb Banner Area Start-->
                <div class="breadcrumb-banner-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="breadcrumb-text">
                                    <h1 class="text-center">Галлерея</h1>
                                    <div class="breadcrumb-bar">
                                        <ul class="breadcrumb text-center">
                                            <li><a href="{%url 'index'%}">Домой</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Breadcrumb Banner Area-->
                <!--Gallery Area Start-->
                <div class="gallery-area pt-100 pb-70">
                    <div class="container">
                        <div class="row">
                            <!--Single Gallery Image Start-->
                            {%for gallery in gallery%}
                            <div class="col-md-4 col-sm-6">
                                <div class="single-gallery-img mb-30">
                                    <a href="{{gallery.image.url}}" data-fancybox="images"><img src="{{gallery.image.url}}" alt=""></a>
                                </div>
                            </div>
                            {%endfor%}
                            <!--Single Gallery Image End-->
                            <!--Single Gallery Image Start-->
                            
                            <!--Single Gallery Image End-->
                        </div>
                    </div>
                </div>
                <!--Gallery Area End-->
                {% include 'footer.html'%}

{%endblock%}