{% extends 'homepage.html'%}
{%load static %}
{%block content%}
{% include 'header.html'%}
<link rel="stylesheet" href="/home/nurbolot/Desktop/OP/Django/project/Geektech/static/css/font-awesome.min.css">
                <!--End of Header Area-->
                <!--Breadcrumb Banner Area Start-->
                <div class="breadcrumb-banner-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="breadcrumb-text">
                                    <h1 class="text-center">{{team.name}}</h1>
                                    <div class="breadcrumb-bar">
                                        <ul class="breadcrumb text-center">
                                            <li><a href="{% url 'index'%}">Домой</a></li>
                                            <li>{{team.name}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Breadcrumb Banner Area-->
                <!--Team Details Area Start-->
                <div class="team-details-area section-padding">
                    <div class="container">
                        <div class="row row-25">
                            <!--Team Image-->
                            <div class="col-lg-5 col-12">
                                <div class="team-image">
                                    <img src="{{team.image.url}}" alt="">
                                </div>
                            </div>
                            <!--Team Content-->
                            <div class="col-lg-7 col-12">
                                <div class="team-content">
                                    <h3 class="title">{{team.name}}</h3>
                                    <div class="row">
                                        <div class="col-md-6 col-12 mb-30">
                                            <h4>Личная информация</h4>
                                            <ul>
                                                <li><i class="zmdi zmdi-phone-in-talk"></i><a >{{team.phone}}</a></li>
                                                <li><i class="zmdi zmdi-email"></i><a >{{team.email}}</a></li>
                                            </ul>
                                            <div class="social">
                                               
                                                {%if team.instagram%}
                                                <a href="{{team.youtube}}" class="twitter"><i class="zmdi zmdi-instagram"></i></a>
                                                {% endif%}
                                                {%if team.telegram%}
                                                <a href="{{team.telegram}}" class="linkedin"><i class="zmdi zmdi-telegram"></i></a>
                                                {% endif%}
                                                {%if team.whatsapp%}
                                                <a href="#" class="google"><i class="zmdi zmdi-whatsapp"></i></a>
                                                {% endif%}
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Team Details Area End-->
                {% include 'footer.html'%}

{%endblock%}